{% extends "layout.html" %} {% block content %}
<div style="box-shadow: black 0px 10px 10px;" class="pb-2 bg-white rounded-2xl ml-10 mr-10 mt-5 mt-5 text-center">
    <h1 style="font-size: 2rem;">Beginner 1</h1>
    <h1 style="font-size: 1.5rem;">lesson 1</h1>
    <br>
    <p class="mr-60 ml-60 text-justify" style="font-size:1.3rem  ">Within different languages different sounds are used in different patterns. Although Japanese is one of the easiest languages for foreigners to pronounce, still not every sound that’s in Japanese is in English, and not every sound in English is in
        Japanese. Furthermore, not every writing system has the same nature. Originally, writing systems represented ideas, which eventually created a little confusion so phonetic elements were added, which evolved into some languages adopting purely
        phonetic writing systems, but usually with only consonants, which evolved into systems with mainly consonants but with vowel marks that modified the consonants, which evolved into two systems, full alphabets, and syllabaries. The Latin writing
        system, which English uses, is an alphabet. The hiragana and katakana systems, two of the three writing systems used in modern Japanese, are syllabaries. The other, kanji, is a logograph system, which is the earliest form of writing, and is directly
        borrowed from Chinese Han characters, which is the oldest writing system used in widely spoken modern language. The one we will focus on right now is hiragana. It is the main syllabary, and what most of the vocabulary we’ll mention will be written
        in at first. If you get lost, just refer to the chart.</p>
</div>
{% endblock %}