* {
    -webkit-tap-highlight-color: transparent;
}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #000066 0%, #9900ff 100%);
    padding-bottom: 2.5rem;
    position: relative;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px, 100px;
    display: flex;
    justify-content: space-between;
    height: 1%;
}

header .Name {
    margin-bottom: 10%;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: default;
    user-select: none;
    display: flex;
    padding-top: 2%;
    padding-right: 2%;
    padding-left: 2%;
}

.Info {
    color: #fff;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    user-select: none;
    z-index: 2;
}

button {
    outline: none;
    background: none;
    border: 0;
    text-decoration: none;
    padding: 10px;
    width: 5rem;
    color: white;
    background: black;
    cursor: pointer;
    text-align: center;
    box-shadow: -1px 10px 100px black;
}

button:hover {
    color: black;
    background: white;
}