* {
    -webkit-tap-highlight-color: transparent;
}

body {
    color: white;
    user-select: none;
    padding-top: 5rem;
    text-align: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #000066 0%, #9900ff 100%);
    padding-bottom: 2.5rem;
    position: relative;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px, 100px;
    display: flex;
    justify-content: space-between;
    height: 1%;
}

header .Name {
    margin-bottom: 10%;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: default;
    user-select: none;
    display: flex;
    padding-top: 2%;
    padding-right: 2%;
    padding-left: 2%;
}

button {
    outline: none;
    background: none;
    border: 0;
    text-decoration: none;
    padding: 10px;
    width: 5rem;
    color: white;
    background: black;
    cursor: pointer;
    text-align: center;
    box-shadow: -1px 10px 100px black;
}

button:hover {
    color: black;
    background: white;
}

.Menu_Bar button {
    height: auto;
    width: 100%;
    font-size: medium;
    margin: 0%;
}

.Side_Bar {
    width: 12rem;
    background-color: black;
    opacity: 0%;
    padding-top: 10%;
    box-shadow: -1px 1px 50px black;
    user-select: none;
}

@keyframes Side_Bar_anim {
    0% {
        opacity: 0%;
        transform: scale(.5)
    }
    100% {
        opacity: 100%;
        transform: scale(1)
    }
}

@keyframes Side_Bar_anim_rev {
    0% {
        opacity: 100%;
        transform: scale(1)
    }
    100% {
        opacity: 0%;
        transform: scale(.5)
    }
}

.List {
    outline: none;
    background: none;
    text-decoration: none;
    padding: 6px;
    color: #fff;
    cursor: pointer;
    list-style: none;
}

.List li {
    padding: 6px;
}

.Active {
    background: #fff;
    color: black;
}

header ul li button:hover {
    background: #fff;
    color: black;
}