* {
    -webkit-tap-highlight-color: transparent;
}

body {
    background: linear-gradient(to bottom, #000066 0%, #9900ff 100%);
    height: 100%;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.Map {
    height: 25rem;
    width: 84%;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    list-style: none;
    position: relative;
}

.Desc,
li {
    text-align: center;
    background-color: #434343;
    color: #f0f0ff;
    list-style: none;
    margin-left: 8%;
    margin-right: 8%;
    user-select: none;
}

.title {
    color: white;
    text-align: left;
    font-size: auto;
    user-select: none;
}

.SubTitle {
    text-align: center;
    user-select: none;
}

button {
    outline: none;
    background: none;
    border: 0;
    text-decoration: none;
    padding: 10px;
    width: 5rem;
    color: white;
    background: black;
    cursor: pointer;
    margin-left: -24;
    text-align: center;
}

button:hover {
    color: black;
    background: white;
}

:-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.Side_Bar {
    background-color: black;
    width: 9rem;
    opacity: 0%;
    padding-top: 10%;
    height: 12rem;
    box-shadow: -1px 1px 50px black;
    user-select: none;
    margin-top: -2rem;
}

@keyframes Side_Bar_anim {
    0% {
        opacity: 0%;
        transform: scale(.5)
    }
    100% {
        opacity: 100%;
        transform: scale(1)
    }
}

@keyframes Side_Bar_anim_rev {
    0% {
        opacity: 100%;
        transform: scale(1)
    }
    100% {
        opacity: 0%;
        transform: scale(.5)
    }
}

.List {
    outline: none;
    background: none;
    text-decoration: none;
    padding: 6px;
    color: #fff;
    cursor: pointer;
    list-style: none;
}

.List li {
    padding: 6px;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
}

.List li button {
    width: 100%;
}

.Active {
    background: #fff;
    color: black;
}

header ul li button:hover {
    background: #fff;
    color: black;
}

.Menu_Bar {
    position: absolute;
    top: 0%;
    right: 0%;
}