{% extends "layout.html" %} {% block content %}
<div style="user-select: none;">
    <div class="Pannel">
        <h2 id="name">{{Page_Name}}</h2>
    </div>
    <div class="Pannel" id="Pannel">
        <form autocomplete="off" method="POST">
            <h3 hidden style="color: red;" id="Thanks">Thank you for using Nihongo.net</h3>
            <br>
            <label style="font-size: 1.5rem;" for="Username" style="color: white;">Username</label>
            <br>
            <input style="font-size: large;" type="text" name="Username" id="Username">
            <br><br>
            <label style="font-size: 1.5rem;" for="Password" style="color: white;">Password</label>
            <br>
            <input style="font-size: large;" type="password" name="Password" id="Password">
            <br><br>
            <button id="LoginSignupButton" style="width: 20%;font-size: 1.5rem;" type="button" class="Loginbtn"><b>{{Page_oposite}}</b></button>
            <br><br>
            <button style="width: 20%; font-size: 1.5rem;" id="Submit" type="submit"><b>Submit</b></button>
            <script>
                var Username = document.getElementById("Username")
                if (Username.innerHTML != " ") {
                    var submit = document.getElementById("Submit");
                    submit.onclick = function() {
                        var Thanks = document.getElementById('Thanks')
                        Thanks.hidden = false
                    }
                }
            </script>
            <br><br>
            <script>
                var LoginSignupButton = document.getElementById("LoginSignupButton");
                var loc = document.location.toString();
                LoginSignupButton.onclick = function() {
                    if (loc.includes("/Account/SignUp")) {
                        document.location = "/Account/Login"

                    } else if (loc.includes("/Account/Login")) {
                        document.location = "/Account/SignUp"
                    }
                }
            </script>
        </form>
    </div>
</div>
{% endblock %}