{% extends "layout.html" %} {% block content %}
<div style="user-select: none;">
    <div class="Pannel">
        <h2 id="name">Community</h2>
    </div>
    <div class="Pannel" id="Pannel">
        <h3>Want to do more for the site?</h3>
        <h3>Visit our very own community Discord page: <br><a href="https://discord.gg/9bc9ZKkNdX">Nihongo.net</a>.</h3>
        <iframe src="https://discord.com/widget?id=901957994860908584&theme=dark" width="800" height="600" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        <br><br>
    </div>
</div>
{% endblock %}