<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<script src="{{url_for('static', filename='Menu.js')}}"></script>
<link rel="stylesheet" href="{{ url_for('static',    filename='css/History.css') }}">

<title>
    Nihongo.net
</title>

<header style="height: 1rem;">
    <h1 class="Name" style="font-size: 1.5rem;">Nihongo.net</h1>
    <div style="text-align: center;">
        <button id="Back" style=" position:relative;top: 8.5rem;font-size: 3rem;width: auto;">Back</button>
        <script>
            var Back = document.getElementById("Back");
            Back.onclick = function() {
                document.location = "/ "
            }
        </script>
</header>

<body>
    <h4>Here you can learn a little bit of Japanese History</h4>
</body>

</html>