{% extends "layout.html" %} {% block content %}
<div>
    <div class="Pannel">
        <h2>Kanji</h2>
        <h3></h3>
        <br>
        <h3>all kanji are made up of Hirigana and katakana.</h3>
        <br>
    </div>
    <div class="Pannel" id="Pannel">
    </div>
    <script>
        $.getJSON("{{ url_for('static', filename='alphabet.json') }}", function(data) {
            $.each(data, function(key, val) {
                var x = Object.entries(data[0].Kanji.N2);
                var pannel = document.getElementById("Pannel");
                for (var index in x) {
                    var letter = document.createElement("h2");
                    var cell = document.createElement("div")
                    cell.style.display = "inline-grid"
                    letter.innerHTML = x[index];
                    letter.style.color = "white";
                    letter.style.cursor = "pointer"
                    letter.style.margin = "1rem"
                    const isMobile = ('ontouchstart' in document.documentElement && navigator.userAgent.match(/Mobi/));
                    if (isMobile) {
                        letter.style.marginLeft = "6px"
                        letter.style.marginRight = "12px"
                        letter.style.marginBottom = "12px"
                    }
                    cell.appendChild(letter)
                    pannel.appendChild(cell);
                    letter.onmouseenter = function() {
                        this.style.color = "red"
                    }
                    letter.onmouseleave = function() {
                        this.style.color = "white"
                    }
                }
            });
        });
    </script>
</div>
{% endblock %}