{% extends "layout.html" %} {% block content %}
<div>
    <div class="Pannel">
        <h2>Kanji</h2>
        <br>
        <div style="margin: auto;">
            <div style=" display: grid; padding: 0%; width: 22%; height: auto; grid-template-columns: 1fr 1fr 1fr;margin: auto;">
                <div>
                    <h3>JLPT</h3>
                </div>
                <div>
                    <label class="switch">
                <input type="checkbox"id="CheckBox">
                <span class="slider"></span>
              </label>
                </div>
                <div>
                    <h3>Grades</h3>
                </div>
            </div>
        </div>
        <h3>all kanji are made up of Hirigana and katakana.</h3>
        <br>
    </div>
    <div class="Pannel" id="JLPT">
        <div style=" display: grid; height: auto; grid-template-columns: 1fr 1fr 1fr 1fr 1fr; ">
            <div>
                <div>
                    <h3>N1</h3>
                    <div id="N1" style=" display: grid; height: auto; grid-template-columns: 1fr 1fr; ">
                        <div id="N1Kanji">
                            <h3>test</h3>
                        </div>
                        <div id="N1other">
                            <h3>test</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <h3>N2</h3>
                    <div id="N2" style=" display: grid; height: auto; grid-template-columns: 1fr 1fr; ">
                        <div id="N2Kanji">
                            <h3>test</h3>
                        </div>
                        <div id="N2other">
                            <h3>test</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <h3>N3</h3>
                    <div id="N3" style=" display: grid; height: auto; grid-template-columns: 1fr 1fr; ">
                        <div id="N3Kanji">
                            <h3>test</h3>
                        </div>
                        <div id="N3other">
                            <h3>test</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <h3>Grade 4</h3>
                    <div id="N4" style=" display: grid; height: auto; grid-template-columns: 1fr 1fr; ">
                        <div id="N4Kanji">
                            <h3>test</h3>
                        </div>
                        <div id="N4other">
                            <h3>test</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <h3>N5</h3>
                    <div id="N5" style=" display: grid; height: auto; grid-template-columns: 1fr 1fr; ">
                        <div id="N5Kanji">
                            <h3>test</h3>
                        </div>
                        <div id="N5other">
                            <h3>test</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div hidden class="Pannel" id="Grades">
        <div style=" display: grid; height: auto; grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; ">

            <div>
                <div>
                    <h3>Grade 1</h3>
                    <div id="Grade1" style=" display: grid; height: auto; grid-template-columns: 1fr 1fr; ">
                        <div id="Grade1Kanji">
                            <h3>test</h3>
                        </div>
                        <div id="Grade1other">
                            <h3>test</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <h3>Grade 2</h3>
                    <div id="Grade2" style=" display: grid; height: auto; grid-template-columns: 1fr 1fr; ">
                        <div id="Grade2Kanji">
                            <h3>test</h3>
                        </div>
                        <div id="Grade2other">
                            <h3>test</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <h3>Grade 3</h3>
                    <div id="Grade3" style=" display: grid; height: auto; grid-template-columns: 1fr 1fr; ">
                        <div id="Grade3Kanji">
                            <h3>test</h3>
                        </div>
                        <div id="Grade3other">
                            <h3>test</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <h3>Grade 4</h3>
                    <div id="Grade4" style=" display: grid; height: auto; grid-template-columns: 1fr 1fr; ">
                        <div id="Grade4Kanji">
                            <h3>test</h3>
                        </div>
                        <div id="Grade4other">
                            <h3>test</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <h3>Grade 5</h3>
                    <div id="Grade5" style=" display: grid; height: auto; grid-template-columns: 1fr 1fr; ">
                        <div id="Grade5Kanji">
                            <h3>test</h3>
                        </div>
                        <div id="Grade5other">
                            <h3>test</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <h3>Grade 6</h3>
                    <div id="Grade6" style=" display: grid; height: auto; grid-template-columns: 1fr 1fr; ">
                        <div id="Grade6Kanji">
                            <h3>test</h3>
                        </div>
                        <div id="Grade6other">
                            <h3>test</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var JLPT = document.getElementById("JLPT");
        var Grades = document.getElementById("Grades");
        var CheckBox = document.getElementById("CheckBox");
        CheckBox.onclick = function() {
            if (CheckBox.checked) {
                Grades.hidden = false
                JLPT.hidden = true
            } else {
                Grades.hidden = true
                JLPT.hidden = false
            }
        }
        document.onload = function() {
                $("#CheckBox").removeAttr("checked");
            }
            //letter.onclick = function() {
            //var kanji = this.innerHTML.toString().charAt(0);
            //document.location = '/SearchPageK' + "/Kanji" + kanji;
            //}
    </script>
</div>
{% endblock %}