{% extends "layout.html" %} {% block content %}
<div>
    <div class="Pannel">
        <h2>Kanaji Grade 1</h2>
        <h3>Click a Kanji for more details</h3>
        <h3>Grade 1 details</h3>
    </div>

    <div class="Pannel">
        <div style="display: grid; grid-template-columns: 1fr 1fr;">
            <div id="KanjiGrade1">
                <h3>Kanji</h3>
            </div>
            <div>

            </div>
        </div>
    </div>
    <script>
        var KanjiGrade1 = document.getElementById("KanjiGrade1");
        $.ajax({
            "async": true,
            "crossDomain": true,
            url: 'https://kanjialive-api.p.rapidapi.com/api/public/search/advanced/',
            "method": "GET",
            params: {
                grade: '1'
            },
            "headers": {
                "x-rapidapi-host": "kanjialive-api.p.rapidapi.com",
                "x-rapidapi-key": "f63b1552a6msh5c92b36f426e39fp1dfdcfjsn43b574ea21ae"
            },
            success: function(result, status, xhr) {

                var data = result
                for (var index in data) {
                    var NewGrade1Kanji = document.createElement('h3')
                    NewGrade1Kanji.innerHTML = result[index]['kanji']['character']
                    KanjiGrade1.appendChild(NewGrade1Kanji)
                };
            },
            error: function(xhr, status, error) {

            }
        });
    </script>
</div>
{% endblock %}