{% extends "layout.html" %} {% block content %}

<div class="Pannel">
    <h3>here at Nihongo.net we offer all the resources needed to learn japanese at YOUR own pace, completely free of charge.</h3>
    <br>
    <h3>No prior knowlendge is needed here as we belive we offer something for the everyone.</h3>
</div>
<br>
<div class="Pannel">
    <h2>Alphabet</h2>
    <br>
    <h3>The japanese language is comprised of 3 different alphabets Hirigana, Katakana, Kanji</h3>
    <br>
    <h3>Hiragana is the most use alphabet due to the fact that most japanese words are or can be in Hirigana</h3>
    <br>
    <h3>Katakana is used for non japanese words like foreign names or items</h3>
    <br>
    <h3>Romaji is the alphabet that shows you how to pronounce every japanese character for example: (る) romaji: RU</h3>
    <br>
    <h3>Kanji is technicaly chinese but used in japanese writing, Kanji is used for writing nouns, adjectives, adverbs and verbs.</h3>
    <br>
    <h3>All 3 of these alphabets are used alongside each other to create grammaticaly correct sentences.</h3>
</div>
<br>
<div class="Pannel">
    <h2>Numbers</h2>
    <br>
    <h3>Most numbers in japanese are made up of single digits, some are different for example Hundered, thousand, million, and so on. Everything else is rather simple</h3>
</div>
<br>
<div class="Pannel">
    <h2>Phonetics</h2>
    <br>
    <h3>This is how everything is pronounced as the japanese language is rather complex in how everything is pronounced.</h3>
    <br>
    <h3>A key example of this is the Hirigana character RU (る). <br><br> This is pronounced completely differently to how it looks. Pronouncing these types of characters correctly can take your japanese skills to a whole other level</h3>
</div>
<br>
<div class="Pannel">
    <h2>Grammar</h2>
    <br>
    <h3>This is the understanding of how to structure sentences properly and having good Grammar will take your japanese to a whole other level.</h3>
    <br>
    <h3>If you have a good understanding of Grammar you will be able to hold a conversation with a native japanese person and sounds like a native at the same time as long as your phonetics are in check.</h3>
</div>
{% endblock %}