{% extends "layout.html" %} {% block content %}

<div class="Pannel">
    <h3>Here at Nihongo.net we offer all the resources needed to learn Japanese at <em>YOUR</em> own pace, completely free of charge.</h3>
    <br>
    <h3>No prior knowlendge of Japanese is needed here as we believe we offer something for the everyone.</h3>
</div>
<br>
<div class="Pannel">
    <h2>Alphabet</h2>
    <br>
    <h3>The Japanese language is comprised of 3 different alphabets Hiragana, Katakana and Kanji.</h3>
    <br>
    <h3>Hiragana is the most use alphabet due to the fact that most Japanese words are or can be in Hiragana.</h3>
    <br>
    <h3>Katakana is used for non-japanese words for example foreign names or items.</h3>
    <br>
    <h3>Romaji is the alphabet that shows you how to pronounce every Japanese character for example: (る) <br> romaji: RU.</h3>
    <br>
    <h3>Kanji is technically chinese but is used in Japanese writing, Kanji is used for writing nouns, adjectives, adverbs and verbs.</h3>
    <br>
    <h3>All 3 of these alphabets are used alongside each other to create grammaticaly correct sentences.</h3>
</div>
<br>
<div class="Pannel">
    <h2>Numbers</h2>
    <br>
    <h3>Most numbers in Japanese are made up of single digits, some are different for example hundered, thousand, million, and so on. Everything else is rather simple.</h3>
</div>
<br>
<div class="Pannel">
    <h2>Grammar</h2>
    <br>
    <h3>This is the understanding of how to structure sentences properly and having good grammar will take <br> your Japanese to a whole other level.</h3>
    <br>
    <h3>If you have a good understanding of grammar you will be able to hold a conversation with a native Japanese person and sounds like a native at the same time as long as your phonetics are in check.</h3>
</div>
{% endblock %}