<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<meta charset="UTF-8">
<meta name="description" content="Learn japanese and japanese culture free of charge with no annoyances">
<meta name="keywords" content="Japanese, Learn Japanese, Hiragana, Katakana,kanji">
<meta name="author" content="T.Thompson, S.Westman and itsrikareok">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="{{url_for('static', filename='Menu.js')}}"></script>
<link rel="stylesheet" href="{{ url_for('static',    filename='css/style.css') }}">
<title>Nihongo.net</title>
<header>
    <h1 class="Name">Nihongo.net</h1>
    <div class="Menu_Bar" id="Menu_Bar" style="user-select: none;">
        <button id="Menu">Menu</button>
        <div class="Side_Bar" id="Side_Bar">
            <ul class="List" id="List">
                <li><button id="Home" class="Active">Home</button></li>
                <li><button id="Alphabet">Alphabet</button></li>
                <li><button id="Vocabulary">Vocabulary</button></li>
                <li><button id="Grammar">Grammar</button></li>
                <li><button id="Numbers">Numbers</button></li>
                <li><button id="Phonetics">Phonetics</button></li>
                <li><button id="Map">Places in Japan</button></li>
                <li><button id="Food">Japanese Food</button></li>
                <li><button id="History">Japanese History</button></li>
                <script>
                    var map = document.getElementById("Map");
                    var Food = document.getElementById("Food");
                    var historyBtn = document.getElementById("History");
                    map.onclick = function() {
                        var current = document.location.href;
                        document.location = current + "/map"
                    }
                    Food.onclick = function() {
                        var current = document.location.href;
                        document.location = current + "/food"
                    }
                    historyBtn.onclick = function() {
                        var current = document.location.href;
                        document.location = current + "/History"
                    }
                </script>
            </ul>
        </div>
    </div>
</header>

<body>
    <section class="Sudo_body">
        <br><br>
        <h1 class="Name" style="font-size: medium;">Work in progress</h1>
        <br>
        <div id="HomePage">
            <h2 style="font-size: xx-large;">Welcome to Nihongo.net!</h2>
            <br>
            <h4 style="padding-left: 10%;padding-right: 10%;">Here users have access to everything needed to learn Japanese free of charge. No annoying notifications, learn at you own pace. Knowledge in japanese is not required to use Nihongo.net as we have something for the most knowledgeable as-well
                as the beginners.
            </h4>
            <br>
            <h4>
                Here at Nihongo.net privacy is seriously emphasized and due to this we have no advertisements, cookies and accounts.
            </h4>
            <br><br><br>
        </div>

        <div id="Alphabet_page" hidden>
            <h2>Alphabet</h2>
            <br>
            <h4>Click a Character to hear its pronunciation (Work in progress)</h4>
            <br>
            <h5>Scroll down for a test</h5>
            <br>
            <button style="margin: 10px;" class="Active" id="Hiragana_Button">Hiragana</button>
            <br>
            <button style="margin: 10px;" id="Katakana_Button">Katakana</button>
            <br>
            <button hidden style="margin: 10px;" id="Kanji_Button">Kanji</button>
            <script>
                //Start and finish kanji Section
            </script>
            <br>
            <div id="Hiragana">
                <h4>Hiragana</h4>
                <table width=100%>
                    <tbody>
                        <tr>
                            <td width=20%>
                                <p>あ (a)</p>
                            </td>
                            <td width=20%>
                                <p>い (i)</p>
                            </td>
                            <td width=20%>
                                <p>う (u)</p>
                            </td>
                            <td width=20%>
                                <p>え (e)</p>
                            </td>
                            <td width=20%>
                                <p>お (o)</p>
                            </td>
                        </tr>

                        <tr>
                            <td width=20%>
                                <p>か (ka)</p>
                            </td>
                            <td width=20%>
                                <p>き (ki)</p>
                            </td>
                            <td width=20%>
                                <p>く (ku)</p>
                            </td>
                            <td width=20%>
                                <p>け (ke)</p>
                            </td>
                            <td width=20%>
                                <p>こ (ko)</p>
                            </td>
                        </tr>

                        <tr>
                            <td width=20%>
                                <p>さ (sa)</p>
                            </td>
                            <td width=20%>
                                <p>し (shi)</p>
                            </td>
                            <td width=20%>
                                <p>す (su)</p>
                            </td>
                            <td width=20%>
                                <p>せ (se)</p>
                            </td>
                            <td width=20%>
                                <p>そ (so)</p>
                            </td>
                        </tr>

                        <tr>
                            <td width=20%>
                                <p>た (ta)</p>
                            </td>
                            <td width=20%>
                                <p>ち (chi)</p>
                            </td>
                            <td width=20%>
                                <p>つ (tsu)</p>
                            </td>
                            <td width=20%>
                                <p>て (te)</p>
                            </td>
                            <td width=20%>
                                <p>と (to)</p>
                            </td>
                        </tr>

                        <tr>
                            <td width=20%>
                                <p>な (na)</p>
                            </td>
                            <td width=20%>
                                <p>に (ni)</p>
                            </td>
                            <td width=20%>
                                <p>ぬ (nu)</p>
                            </td>
                            <td width=20%>
                                <p>ね (ne)</p>
                            </td>
                            <td width=20%>
                                <p>の (no)</p>
                            </td>
                        </tr>

                        <tr>
                            <td width=20%>
                                <p>は (ha)</p>
                            </td>
                            <td width=20%>
                                <p>ひ (hi)</p>
                            </td>
                            <td width=20%>
                                <p>ふ (fu)</p>
                            </td>
                            <td width=20%>
                                <p>へ (he)</p>
                            </td>
                            <td width=20%>
                                <p>ほ (ho)</p>
                            </td>
                        </tr>

                        <tr>
                            <td width=20%>
                                <p>ま (ma)</p>
                            </td>
                            <td width=20%>
                                <p>み (mi)</p>
                            </td>
                            <td width=20%>
                                <p>む (mu)</p>
                            </td>
                            <td width=20%>
                                <p>め (me)</p>
                            </td>
                            <td width=20%>
                                <p>も (mo)</p>
                            </td>
                        </tr>

                        <tr>
                            <td width=20%>
                                <p>や (ya)</p>
                            </td>
                            <td width=20%>

                            </td>
                            <td width=20%>
                                <p>ゆ (yu)</p>
                            </td>
                            <td width=20%>

                            </td>
                            <td width=20%>
                                <p>よ (yo)</p>
                            </td>
                        </tr>

                        <tr>
                            <td width=20%>
                                <p>ら (ra)</p>
                            </td>
                            <td width=20%>
                                <p>り (ri)</p>
                            </td>
                            <td width=20%>
                                <p>る (ru)</p>
                            </td>
                            <td width=20%>
                                <p>れ (re)</p>
                            </td>
                            <td width=20%>
                                <p>ろ (ro)</p>
                            </td>
                        </tr>

                        <tr>
                            <td width=20%>
                                <p>わ (wa)</p>
                            </td>
                            <td width=20%>

                            </td>
                            <td width=20%>

                            </td>
                            <td width=20%>
                                <p>ん (n)</p>
                            </td>
                            <td width=20%>
                                <p>を (wo)</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br><br>
                <h4>Modified Hiragana</h4>
                <table width=100%>
                    <tbody>
                        <tr>
                            <td width=33%>
                                <p>にゃ (nya)</p>
                            </td>
                            <td width=33%>
                                <p>にゅ (nyu)</p>
                            </td>
                            <td width=33%>
                                <p>にょ (nyo)</p>
                            </td>
                        </tr>
                        <tr>
                            <td width=33%>
                                <p>ちゃ (cha)</p>
                            </td>
                            <td width=33%>
                                <p>ちゅ (chu)</p>
                            </td>
                            <td width=33%>
                                <p>ちょ (cho)</p>
                            </td>
                        </tr>
                        <tr>
                            <td width=33%>
                                <p>しゃ (sha)</p>
                            </td>
                            <td width=33%>
                                <p>しゅ (shu)</p>
                            </td>
                            <td width=33%>
                                <p>しょ (sho)</p>
                            </td>
                        </tr>
                        <tr>
                            <td width=33%>
                                <p>きゃ (kya)</p>
                            </td>
                            <td width=33%>
                                <p>きゅ (kyu)</p>
                            </td>
                            <td width=33%>
                                <p>きょ (kyo)</p>
                            </td>
                        </tr>
                        <tr>
                            <td width=33%>
                                <p>ぎゃ (gya)</p>
                            </td>
                            <td width=33%>
                                <p>ぎゅ (gyu)</p>
                            </td>
                            <td width=33%>
                                <p>ぎょ (gyo)</p>
                            </td>
                        </tr>
                        <tr>
                            <td width=33%>
                                <p>りゃ (rya)</p>
                            </td>
                            <td width=33%>
                                <p>りゅ (ryu)</p>
                            </td>
                            <td width=33%>
                                <p>りょ (ryo)</p>
                            </td>
                        </tr>
                        <tr>
                            <td width=33%>
                                <p>みゃ (mya)</p>
                            </td>
                            <td width=33%>
                                <p>みゅ (myu)</p>
                            </td>
                            <td width=33%>
                                <p>みょ (myo)</p>
                            </td>
                        </tr>
                        <tr>
                            <td width=33%>
                                <p>ひゃ (hya)</p>
                            </td>
                            <td width=33%>
                                <p>ひゅ (hyu)</p>
                            </td>
                            <td width=33%>
                                <p>ひょ (hyo)</p>
                            </td>
                        </tr>
                        <tr>
                            <td width=33%>
                                <p>ぴゃ (pya)</p>
                            </td>
                            <td width=33%>
                                <p>ぴゅ (pyu)</p>
                            </td>
                            <td width=33%>
                                <p>ぴょ (pyo)</p>
                            </td>
                        </tr>
                        <tr>
                            <td width=33%>
                                <p>びゃ (bya)</p>
                            </td>
                            <td width=33%>
                                <p>びゅ (byu)</p>
                            </td>
                            <td width=33%>
                                <p>びょ (byo)</p>
                            </td>
                        </tr>
                        <tr>
                            <td width=33%>
                                <p>ぢゃ (dya)</p>
                            </td>
                            <td width=33%>
                                <p>ぢゅ (dyu)</p>
                            </td>
                            <td width=33%>
                                <p>ぢょ (dyo)</p>
                            </td>
                        </tr>
                        <tr>
                            <td width=33%>
                                <p>じゃ (jya)</p>
                            </td>
                            <td width=33%>
                                <p>じゅ (jyu)</p>
                            </td>
                            <td width=33%>
                                <p>じょ (jyo)</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <p style="font-size: x-large;">Dakuten are those two small strokes you see above basic kana these change the sound of the Characters for example:
                    <br><br> か (ka) turns into が (ga) <br> さ (sa) turns into ざ (za) <br> た (ta) turns into だ (sa) <br> は (ha) turns into ば (ba)
                </p>
                <h4>Full list below</h4>
                <br><br>
                <table width=100%>
                    <tbody>
                        <tr>
                            <td width=20%>
                                <p>が (ga)</p>
                            </td>
                            <td width=20%>
                                <p>ぎ (gi)</p>
                            </td>
                            <td width=20%>
                                <p>ぐ (gu)</p>
                            </td>
                            <td width=20%>
                                <p>げ (ge)</p>
                            </td>
                            <td width=20%>
                                <p>ご (go)</p>
                            </td>
                        </tr>

                        <tr>
                            <td width=20%>
                                <p>ざ (za)</p>
                            </td>
                            <td width=20%>
                                <p>じ (ji)</p>
                            </td>
                            <td width=20%>
                                <p>ず (zu)</p>
                            </td>
                            <td width=20%>
                                <p>ぜ (ze)</p>
                            </td>
                            <td width=20%>
                                <p>ぞ (zo)</p>
                            </td>
                        </tr>

                        <tr>
                            <td width=20%>
                                <p>だ (da)</p>
                            </td>
                            <td width=20%>
                                <p>ぢ (di)</p>
                            </td>
                            <td width=20%>
                                <p>づ (du)</p>
                            </td>
                            <td width=20%>
                                <p>で (de)</p>
                            </td>
                            <td width=20%>
                                <p>ど (do)</p>
                            </td>
                        </tr>


                        <tr>
                            <td width=20%>
                                <p>ば (ba)</p>
                            </td>
                            <td width=20%>
                                <p>び (bi)</p>
                            </td>
                            <td width=20%>
                                <p>ぶ (bu)</p>
                            </td>
                            <td width=20%>
                                <p>べ (be)</p>
                            </td>
                            <td width=20%>
                                <p>ぼ (bo)</p>
                            </td>
                        </tr>

                        <tr>
                            <td width=20% style="border-color: red;">
                                <p style="background-color: red;">ぱ (pa)</p>
                            </td>
                            <td width=20% style="border-color: red;">
                                <p style="background-color: red;">ぴ (pi)</p>
                            </td>
                            <td width=20% style="border-color: red;">
                                <p style="background-color: red;">ぷ (pu)</p>
                            </td>
                            <td width=20% style="border-color: red;">
                                <p style="background-color: red;">ぺ (pe)</p>
                            </td>
                            <td width=20% style="border-color: red;">
                                <p style="background-color: red;">ぽ (po)</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <button id="HirtestBtn" class="Hirigana_test_button">Test your Knowledge</button>
                <script>
                    var testbutton = document.getElementById("HirtestBtn");
                    testbutton.onclick = function() {
                        document.location = "/Test?Hirigana"
                    }
                </script>
            </div>

            <div id="Katakana">
                <h4>Katakana</h4>
                <table width=100%>
                    <tbody>
                        <tr>
                            <td width=20%>
                                <p>ア (a)</p>
                            </td>
                            <td width=20%>
                                <p>イ (i)</p>
                            </td>
                            <td width=20%>
                                <p>ウ (u)</p>
                            </td>
                            <td width=20%>
                                <p>エ (e)</p>
                            </td>
                            <td width=20%>
                                <p>オ (o)</p>
                            </td>
                        </tr>

                        <tr>
                            <td width=20%>
                                <p>カ (ka)</p>
                            </td>
                            <td width=20%>
                                <p>キ (ki)</p>
                            </td>
                            <td width=20%>
                                <p>ク (ku)</p>
                            </td>
                            <td width=20%>
                                <p>ケ (ke)</p>
                            </td>
                            <td width=20%>
                                <p>コ (ko)</p>
                            </td>
                        </tr>

                        <tr>
                            <td width=20%>
                                <p>サ (sa)</p>
                            </td>
                            <td width=20%>
                                <p>シ (shi)</p>
                            </td>
                            <td width=20%>
                                <p>ス (su)</p>
                            </td>
                            <td width=20%>
                                <p>セ (se)</p>
                            </td>
                            <td width=20%>
                                <p>ソ (so)</p>
                            </td>
                        </tr>

                        <tr>
                            <td width=20%>
                                <p>タ (ta)</p>
                            </td>
                            <td width=20%>
                                <p>チ (chi)</p>
                            </td>
                            <td width=20%>
                                <p>ツ (tsu)</p>
                            </td>
                            <td width=20%>
                                <p>テ (te)</p>
                            </td>
                            <td width=20%>
                                <p>ト (to)</p>
                            </td>
                        </tr>

                        <tr>
                            <td width=20%>
                                <p>ナ (na)</p>
                            </td>
                            <td width=20%>
                                <p>ニ (ni)</p>
                            </td>
                            <td width=20%>
                                <p>ヌ (nu)</p>
                            </td>
                            <td width=20%>
                                <p>ネ (ne)</p>
                            </td>
                            <td width=20%>
                                <p>ノ (no)</p>
                            </td>
                        </tr>

                        <tr>
                            <td width=20%>
                                <p>ハ (ha)</p>
                            </td>
                            <td width=20%>
                                <p>ヒ (hi)</p>
                            </td>
                            <td width=20%>
                                <p>フ (fu)</p>
                            </td>
                            <td width=20%>
                                <p>ヘ (he)</p>
                            </td>
                            <td width=20%>
                                <p>ホ (ho)</p>
                            </td>
                        </tr>

                        <tr>
                            <td width=20%>
                                <p>マ (ma)</p>
                            </td>
                            <td width=20%>
                                <p>ミ (mi)</p>
                            </td>
                            <td width=20%>
                                <p>ム (mu)</p>
                            </td>
                            <td width=20%>
                                <p>メ (me)</p>
                            </td>
                            <td width=20%>
                                <p>モ (mo)</p>
                            </td>
                        </tr>

                        <tr>
                            <td width=20%>
                                <p>ヤ (ya)</p>
                            </td>
                            <td width=20%>

                            </td>
                            <td width=20%>
                                <p>ユ (yu)</p>
                            </td>
                            <td width=20%>

                            </td>
                            <td width=20%>
                                <p>ヨ (yo)</p>
                            </td>
                        </tr>

                        <tr>
                            <td width=20%>
                                <p>ラ (ra)</p>
                            </td>
                            <td width=20%>
                                <p>リ (ri)</p>
                            </td>
                            <td width=20%>
                                <p>ル (ru)</p>
                            </td>
                            <td width=20%>
                                <p>レ (re)</p>
                            </td>
                            <td width=20%>
                                <p>ロ (ro)</p>
                            </td>
                        </tr>

                        <tr>
                            <td width=20%>
                                <p>ワ (wa)</p>
                            </td>
                            <td width=20%>
                                <p>ヰ (wi)</p>
                            </td>
                            <td width=20%>
                                <p>ン (n)</p>
                            </td>
                            <td width=20%>
                                <p>ヱ (we)</p>
                            </td>
                            <td width=20%>
                                <p>ヲ (wo)</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br><br>
                <h4>Modified Hiragana</h4>
                <table width=100%>
                    <tbody>
                        <tr>
                            <td width=33%>
                                <p>ニャ (nya)</p>
                            </td>
                            <td width=33%>
                                <p>ニュ (nyu)</p>
                            </td>
                            <td width=33%>
                                <p>ニョ (nyo)</p>
                            </td>
                        </tr>

                        <tr>
                            <td width=33%>
                                <p>チャ (cha)</p>
                            </td>
                            <td width=33%>
                                <p>チュ (chu)</p>
                            </td>
                            <td width=33%>
                                <p>チョ (cho)</p>
                            </td>
                        </tr>

                        <tr>
                            <td width=33%>
                                <p>シャ (sha)</p>
                            </td>
                            <td width=33%>
                                <p>シュ (shu)</p>
                            </td>
                            <td width=33%>
                                <p>ショ (sho)</p>
                            </td>
                        </tr>

                        <tr>
                            <td width=33%>
                                <p>キャ (kya)</p>
                            </td>
                            <td width=33%>
                                <p>キュ (kyu)</p>
                            </td>
                            <td width=33%>
                                <p>キョ (kyo)</p>
                            </td>
                        </tr>

                        <tr>
                            <td width=33%>
                                <p>ギャ (gya)</p>
                            </td>
                            <td width=33%>
                                <p>ギュ (gyu)</p>
                            </td>
                            <td width=33%>
                                <p>ギョ (gyo)</p>
                            </td>
                        </tr>

                        <tr>
                            <td width=33%>
                                <p>リャ (rya)</p>
                            </td>
                            <td width=33%>
                                <p>リュ (ryu)</p>
                            </td>
                            <td width=33%>
                                <p>リョ (ryo)</p>
                            </td>
                        </tr>

                        <tr>
                            <td width=33%>
                                <p>ミャ (mya)</p>
                            </td>
                            <td width=33%>
                                <p>ミュ (myu)</p>
                            </td>
                            <td width=33%>
                                <p>ミョ (myo)</p>
                            </td>
                        </tr>

                        <tr>
                            <td width=33%>
                                <p>ヒャ (hya)</p>
                            </td>
                            <td width=33%>
                                <p>ヒュ (hyu)</p>
                            </td>
                            <td width=33%>
                                <p>ヒョ (hyo)</p>
                            </td>
                        </tr>

                        <tr>
                            <td width=33%>
                                <p>ピャ (pya)</p>
                            </td>
                            <td width=33%>
                                <p>ピュ (pyu)</p>
                            </td>
                            <td width=33%>
                                <p>ピョ (pyo)</p>
                            </td>
                        </tr>

                        <tr>
                            <td width=33%>
                                <p>ビャ (bya)</p>
                            </td>
                            <td width=33%>
                                <p>ビュ (byu)</p>
                            </td>
                            <td width=33%>
                                <p>ビョ (byo)</p>
                            </td>
                        </tr>

                        <tr>
                            <td width=33%>
                                <p>ヂャ (dya)</p>
                            </td>
                            <td width=33%>
                                <p>ヂュ (dyu)</p>
                            </td>
                            <td width=33%>
                                <p>ヂョ (dyo)</p>
                            </td>
                        </tr>

                        <tr>
                            <td width=33%>
                                <p>ジャ (jya)</p>
                            </td>
                            <td width=33%>
                                <p>ジュ (jyu)</p>
                            </td>
                            <td width=33%>
                                <p>ジョ (jyo)</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <br>
                <p style="font-size: x-large;">Dakuten are those two small strokes you see above basic kana these change the sound of the Characters for example:
                    <br><br> カ (ka) turns into ガ (ga) <br> サ (sa) turns into ザ (za) <br> タ (ta) turns into ダ (da) <br> ハ (ha) turns into バ (ba) <br>
                </p>
                <h4>Full list below</h4>
                <br><br>
                <table width=100%>
                    <tbody>
                        <tr>
                            <td width=20%>
                                <p>ガ (ga)</p>
                            </td>
                            <td width=20%>
                                <p>ギ (gi)</p>
                            </td>
                            <td width=20%>
                                <p>グ (gu)</p>
                            </td>
                            <td width=20%>
                                <p>ゲ (ge)</p>
                            </td>
                            <td width=20%>
                                <p>ゴ (go)</p>
                            </td>
                        </tr>

                        <tr>
                            <td width=20%>
                                <p>ザ (za)</p>
                            </td>
                            <td width=20%>
                                <p>ジ (ji)</p>
                            </td>
                            <td width=20%>
                                <p>ズ (zu)</p>
                            </td>
                            <td width=20%>
                                <p>ゼ (ze)</p>
                            </td>
                            <td width=20%>
                                <p>ゾ (zo)</p>
                            </td>
                        </tr>

                        <tr>
                            <td width=20%>
                                <p>ダ (da)</p>
                            </td>
                            <td width=20%>
                                <p>ヂ (di)</p>
                            </td>
                            <td width=20%>
                                <p>ヅ (du)</p>
                            </td>
                            <td width=20%>
                                <p>デ (de)</p>
                            </td>
                            <td width=20%>
                                <p>ド (do)</p>
                            </td>
                        </tr>


                        <tr>
                            <td width=20%>
                                <p>バ (ba)</p>
                            </td>
                            <td width=20%>
                                <p>ビ (bi)</p>
                            </td>
                            <td width=20%>
                                <p>ブ (bu)</p>
                            </td>
                            <td width=20%>
                                <p>ベ (be)</p>
                            </td>
                            <td width=20%>
                                <p>ボ (bo)</p>
                            </td>
                        </tr>

                        <tr>
                            <td width=20% style="border-color: red;">
                                <p style="background-color: red;">パ (pa)</p>
                            </td>
                            <td width=20% style="border-color: red;">
                                <p style="background-color: red;">ピ (pi)</p>
                            </td>
                            <td width=20% style="border-color: red;">
                                <p style="background-color: red;">プ (pu)</p>
                            </td>
                            <td width=20% style="border-color: red;">
                                <p style="background-color: red;">ペ (pe)</p>
                            </td>
                            <td width=20% style="border-color: red;">
                                <p style="background-color: red;">ポ (po)</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button id="KatatestBtn" class="Hirigana_test_button">Test your Knowledge</button>
                <script>
                    var testbutton1 = document.getElementById("KatatestBtn");
                    testbutton1.onclick = function() {
                        document.location = "/Test?Katakana"
                    }
                </script>
            </div>

            <div hidden id="Kanji">
                <h4>Kanji</h4>
                <table width=100%>
                    <tbody>
                        <tr>
                            <td>

                            </td>
                        </tr>
                    </tbody>
                </table>
                <button hidden id="KanjitestBtn" class="Hirigana_test_button">Test your Knowledge</button>
                <script>
                    //Start and finish kanji Section
                    var testbutton2 = document.getElementById("KanjitestBtn");
                    testbutton2.onclick = function() {
                        document.location = "/Test?Kanji"
                    }
                </script>
            </div>

            <script>
                var Hiragana_Button = document.getElementById("Hiragana_Button");
                var Katakana_Button = document.getElementById("Katakana_Button");
                var Kanji_Button = document.getElementById("Kanji_Button");

                var Hiragana = document.getElementById("Hiragana");
                var Katakana = document.getElementById("Katakana");
                var Kanji = document.getElementById("Kanji");

                Kanji.hidden = true;
                Katakana.hidden = true;

                Hiragana_Button.onclick = function() {
                    Hiragana.hidden = false;
                    Katakana.hidden = true;
                    Kanji.hidden = true;
                    Hiragana_Button.className = "Active";
                    Katakana_Button.className = " ";
                    Kanji_Button.classList = " ";
                }

                Katakana_Button.onclick = function() {

                    Katakana.hidden = false;
                    Hiragana.hidden = true;
                    Kanji.hidden = true;
                    Katakana_Button.className = "Active";
                    Hiragana_Button.className = "";
                    Kanji_Button.classList = " ";
                }
                Kanji_Button.onclick = function() {
                    Kanji.hidden = false;
                    Katakana.hidden = true;
                    Hiragana.hidden = true;
                    Kanji_Button.classList = "Active";
                    Hiragana_Button.className = "";
                    Katakana_Button.className = " ";
                }
            </script>
        </div>

        <div id="Grammar_Page" hidden>
            <h2>Grammar</h2>
        </div>
        <div id="Vocabulary_Page" hidden>
            <h2>Vocabulary</h2>
            <br>
            <h3 id="moduleTitle">Module 1 - Greatings and Farewells</h3>
            <div id="Module_1">
                <br>
                <div id="Greatings-Farewellls">
                    <h2>Formal Greatings and Farewells</h2>
                    <br>
                    <table width=100% class="Formal-Greatings">
                        <tbody>
                            <tr>
                                <td width=16% style="background: black;">
                                    <p>Good Morning</p>
                                    <p>Ohayō gozaimasu</p>
                                    <p>(おはようございます)</p>
                                </td>
                                <td width=16% style="background: black;">
                                    <p>Good Afternoon / Hello</p>
                                    <p>Kon'nichiwa</p>
                                    <p>(こんにちは)</p>
                                </td>
                                <td width=16% style="background: black;">
                                    <p>Good Evening</p>
                                    <p>Konbanwa</p>
                                    <p>(こんばんわ)</p>
                                </td>
                            </tr>
                            <tr>
                                <td width=16% style="background: black;">
                                    <p>Good Night</p>
                                    <p>Oyasuminasai</p>
                                    <p>(おやすみなさい)</p>
                                </td>
                                <td width=16% style="background: black;">

                                </td>
                                <td width=16% style="background: black;">
                                    <p>GoodBye</p>
                                    <p>Sayōnara</p>
                                    <p>(さようなら)</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h2>Informal Greatings and Farewells</h2>
                </div>
                <div>
                    <br>
                    <h3>Only used before going to bed or sleeping</h3>
                    <br>
                    <ul style="list-style: none;">
                        <li style="font-size: larger;">Oyasuminasai - GoodNight (おやすみなさい)</li>
                    </ul>
                </div>
                <br>
                <button style="size: auto;">Next Module</button>
            </div>
        </div>

        </div>
        <div class="Numbers_Page" id="Numbers_Page" hidden>
            <h2>Numbers</h2>
            <br>
            <table width=100%>
                <tbody>
                    <tr>
                        <td width=20%>
                            <p>一 (ichi) (one)</p>
                        </td>
                        <td width=20%>
                            <p>ニ (ni) (two)</p>
                        </td>
                    </tr>
                    <tr>
                        <td width=20%>
                            <p>三 (san) (three)</p>
                        </td>

                        <td width=20%>
                            <p>四 (yon) (four)</p>
                        </td>
                    </tr>
                    <tr>

                        <td width=20%>
                            <p>五 (go) (five)</p>
                        </td>
                        <td width=20%>
                            <p>六 (roku) (six)</p>
                        </td>
                    </tr>

                    <tr>
                        <td width=20%>
                            <p>七 (nana) (seven)</p>
                        </td>

                        <td width=20%>
                            <p>ハ (hachi) (eight)</p>
                        </td>
                    </tr>
                    <tr>
                        <td width=20%>
                            <p>九 (ku) (nine)</p>
                        </td>

                        <td width=20%>
                            <p>十 (juu) (ten)</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <p style="padding-left: 10%;padding-right: 10%; background: transparent;">
                For counting past 10 in Japanese, it's rather simple. Take the kanji for 1 - 9 and add them onto the kanji for any of the ten's. for example:
                <br><br> <mark style="background: black; color: white;padding: 0.3%;">十 (juu) + 一 (ichi) = 十一 (juuichi)</mark>
                <br><br> But for the ten's you take ten 十 (juu) and add any single digit to the front of it this is the same for all of the ten's
                <br><br> <mark style="background: black; color: white;padding: 0.3%;">ニ (ni) + 十 (juu) = 二十 (nijuu)</mark>
            </p>
            <br><br>
            <p style="padding-left: 10%;padding-right: 10%;background: transparent;">
                When counting in the hundreds, for the first number you take any single digit kanji and add that to the front of 100 (hyaku), then for the ten's you do the same as mentioned above and then add any single digit kanji to get your number for example:
                <br><br><mark style="background: black; color: white;padding: 0.3%;">2(nii)（二） + 100(hyaku) (百) + 20(niijuu) (二十)</mark><br><mark style="background: black; color: white;padding: 0.3%;"> = 222 (二百二十二) (niihyakuniijuunii)</mark>

            </p>
            <br><br>
            <p style="padding-left: 10%;padding-right: 10%;background: transparent;">
                Disclamer: Some numbers change depending on the what kind of thing you’re referring to in a given moment, but this will be enough to get you through a casual day.
            </p>
        </div>

        <div id="Phonetics_Page" hidden>
            <h2>Phonetics</h2>
        </div>
        <script>
            var Menu = document.getElementById("Menu")
            var home = document.getElementById("Home");
            var Alphabet = document.getElementById("Alphabet");
            var Grammar = document.getElementById("Grammar");
            var Numbers = document.getElementById("Numbers");
            var Phonetics = document.getElementById("Phonetics");
            var Vocabulary = document.getElementById("Vocabulary");

            var HomePage = document.getElementById("HomePage");
            var Alphabet_page = document.getElementById("Alphabet_page");
            var Grammar_Page = document.getElementById("Grammar_Page");
            var Numbers_Page = document.getElementById("Numbers_Page");
            var Phonetics_Page = document.getElementById("Phonetics_Page");
            var Vocabulary_Page = document.getElementById("Vocabulary_Page");

            home.onclick = function() {
                HomePage.hidden = false;
                Alphabet_page.hidden = true;
                Grammar_Page.hidden = true;
                Numbers_Page.hidden = true;
                Vocabulary_Page.hidden = true;
                Phonetics_Page.hidden = true;
                home.className = "Active";
                Alphabet.className = " ";
                Grammar.className = " ";
                Numbers.className = " ";
                Phonetics.className = " ";
                Vocabulary.className = " ";
                Menu.click();
            }
            Alphabet.onclick = function() {
                Alphabet_page.hidden = false;
                HomePage.hidden = true;
                Grammar_Page.hidden = true;
                Numbers_Page.hidden = true;
                Phonetics_Page.hidden = true;
                Vocabulary_Page.hidden = true;
                Alphabet.className = "Active";
                home.className = " ";
                Grammar.className = " ";
                Numbers.className = " ";
                Phonetics.className = " ";
                Vocabulary.className = " ";
                Menu.click();
            }
            Grammar.onclick = function() {
                Grammar_Page.hidden = false;
                HomePage.hidden = true;
                Alphabet_page.hidden = true;
                Numbers_Page.hidden = true;
                Phonetics_Page.hidden = true;
                Vocabulary_Page.hidden = true;
                Grammar.className = "Active";
                home.className = " ";
                Alphabet.className = " ";
                Numbers.className = " ";
                Phonetics.className = " ";
                Vocabulary.className = " ";
                Menu.click();
            }
            Vocabulary.onclick = function() {
                Vocabulary_Page.hidden = false;
                Grammar_Page.hidden = true;
                HomePage.hidden = true;
                Alphabet_page.hidden = true;
                Numbers_Page.hidden = true;
                Phonetics_Page.hidden = true;
                Vocabulary.className = "Active"
                Grammar.className = "";
                home.className = " ";
                Alphabet.className = " ";
                Numbers.className = " ";
                Phonetics.className = " ";
                Menu.click();
            }
            Numbers.onclick = function() {
                Numbers_Page.hidden = false;
                Grammar_Page.hidden = true;
                HomePage.hidden = true;
                Alphabet_page.hidden = true;
                Phonetics_Page.hidden = true;
                Vocabulary_Page.hidden = true;
                Numbers.className = "Active";
                Grammar.className = " ";
                home.className = " ";
                Alphabet.className = " ";
                Vocabulary.className = " ";
                Phonetics.className = " ";
                Menu.click();
            }
            Phonetics.onclick = function() {
                Phonetics_Page.hidden = false;
                Numbers_Page.hidden = true;
                Grammar_Page.hidden = true;
                Vocabulary_Page.hidden = true;
                HomePage.hidden = true;
                Alphabet_page.hidden = true;
                Phonetics.className = "Active";
                Numbers.className = " ";
                Grammar.className = " ";
                home.className = " ";
                Alphabet.className = " ";
                Vocabulary.className = " ";
                Menu.click();
            }
        </script>
    </section>
</body>
<br>
<footer style="text-align: center; position: absolute; bottom: 0; width: 100%; height: 3rem; color: #fff;user-select: none;">Made By T.Thompson, S.Westman and <a href="https://www.youtube.com/channel/UCXXxunBSIz-4-Z1FpppDOVA" style="color: white;">itsrikareok</a>.
    <br> <a href="/About" style="color: white;"> About</a>
</footer>

</html>