{% extends "layout.html" %} {% block content %}
<div>
    <div class="Pannel">
        <h2>Search Page</h2>
        <h3>This page allows you to search for a specific kanji across N5-N1</h3>
    </div>

    <div class="Pannel" style="padding: 1%;">
        <h6>Powered by
            <a href="https://kanjiapi.dev/">kanjiapi.dev</a>
        </h6>
        <p id="Error"></p>
        <label for="Search">Search</label>
        <br>
        <input type="text" name="Search" id="Search" placeholder="Search">
        <br><br>
        <button type="button" class="SearchSubmit" id="SearchSubmit">Search</button>
    </div>
    <div class="Pannel">
        <h2>Search Results</h2>

        <label for="Meanings"><b>Meanings</b></label>
        <br>
        <p id="Meanings"></p>

        <label for="Stroke_Count"><b>Stroke Count</b></label>
        <br>
        <p id="Stroke_Count"></p>

        <label for="hiragana"><b>hiragana</b></label>
        <br>
        <p id="Hiragana_Table"></p>

        <label for="katakana"><b>katakana</b></label>
        <br>
        <p id="Katakana_Table"></p>

        <label for="Grade"><b>Grade</b></label>
        <br>
        <p id="Grade"></p>


        <label for="Name_Readings"><b>Name Readings</b></label>
        <br>
        <p id="Name_Readings"></p>
        <script>
            // https://kanjiapi.dev/v1/kanji/
            //Table Vars
            var Meanings = document.getElementById("Meanings");
            var Stroke_Count = document.getElementById("Stroke_Count");
            var Hiragana_Table = document.getElementById("Hiragana_Table");
            var Katakana_Table = document.getElementById("Katakana_Table");
            var Grade = document.getElementById("Grade");
            var Name_Readings = document.getElementById("Name_Readings")


            var SearchData = document.getElementById("Search");
            var SearchSubmit = document.getElementById("SearchSubmit");
            var errormsg = document.getElementById("Error");
            SearchSubmit.onclick = function() {
                $.ajax({
                    type: "GET",
                    url: "https://kanjiapi.dev/v1/kanji/" + SearchData.value,
                    dataType: "json",
                    success: function(result, status, xhr) {
                        errormsg.innerHTML = " "
                        Meanings.innerHTML = result['meanings']
                        Stroke_Count.innerHTML = result['stroke_count']
                        Hiragana_Table.innerHTML = result['kun_readings']
                        Katakana_Table.innerHTML = result['on_readings']
                        Grade.innerHTML = result['grade']
                        Name_Readings.innerHTML = result['name_readings']
                    },
                    error: function(xhr, status, error) {
                        errormsg.innerHTML = "The Kanji you have inputed is not recognised."
                    }
                });
            }
        </script>
    </div>

</div>
{% endblock %}