{% extends "layout.html" %} {% block content %}
<div>
    <div class="Pannel">
        <h2>Search Page</h2>
        <h3>This page allows you to search for a specific kanji across N5-N1</h3>
    </div>

    <div class="Pannel" style="padding: 1%;">
        <h6>Powered by
            <a href="https://app.kanjialive.com">Kanji alive</a>
        </h6>
        <p id="Error"></p>
        <label for="Search">Search</label>
        <br>
        <input type="text" name="Search" id="Search" placeholder="Search">
        <br><br>
        <button type="button" class="SearchSubmit" id="SearchSubmit">Search</button>
    </div>
    <div class="Pannel">
        <h2>Search Results</h2>
        <div style="padding-left: 20%;padding-right: 20%;padding-bottom: 2%;">
            <div style="border: solid white 5px; border-radius: 10px;">
                <label for="Meaning"><b>Meanings</b></label>
                <br>
                <p id="Meaning"></p>
            </div>
            <br>
            <div style="border: solid white 5px; border-radius: 10px;">
                <label for="Hiragana_Table"><b>Hiragana</b></label>
                <br>
                <p id="Hiragana_Table"></p>
            </div>
            <br>
            <div style="border: solid white 5px; border-radius: 10px;">
                <label for="Katakana_Table"><b>Katakana</b></label>
                <br>
                <p id="Katakana_Table"></p>
            </div>
            <br>
            <div style="border: solid white 5px; border-radius: 10px;">
                <label for="Romaji"><b>Romaji</b></label>
                <br>
                <p id="Romaji"></p>
            </div>
            <br>
            <div style="border: solid white 5px; border-radius: 10px;">
                <label for="Stroke_Order"><b>Stroke Order</b></label>
                <br>
                <video id="Stroke_Order" autoplay=true src=""></video>
            </div>
        </div>
    </div>
    <div class="Pannel">
        <h2>Examples</h2>
        <div style="display: grid; grid-template-columns: 1fr 1fr;">
            <div id="Japanese">

            </div>
            <div id="ExMeaning">

            </div>
        </div>
    </div>
    <script>
        var Japanese = document.getElementById("Japanese")
        var ExMeaning = document.getElementById("ExMeaning")

        var Meaning = document.getElementById("Meaning");
        var Hiragana_Table = document.getElementById("Hiragana_Table");
        var Katakana_Table = document.getElementById("Katakana_Table");
        var Romaji = document.getElementById("Romaji");
        var Stroke_Order = document.getElementById("Stroke_Order");

        var SearchData = document.getElementById("Search");
        var SearchSubmit = document.getElementById("SearchSubmit");
        var errormsg = document.getElementById("Error");
        SearchSubmit.onclick = function() {
            $.ajax({
                "async": true,
                "crossDomain": true,
                "url": "https://kanjialive-api.p.rapidapi.com/api/public/kanji/" + SearchData.value,
                "method": "GET",
                "headers": {
                    "x-rapidapi-host": "kanjialive-api.p.rapidapi.com",
                    "x-rapidapi-key": "f63b1552a6msh5c92b36f426e39fp1dfdcfjsn43b574ea21ae"
                },
                success: function(result, status, xhr) {
                    Meaning.innerHTML = result['kanji']['meaning']['english'];
                    Hiragana_Table.innerHTML = result['kanji']['kunyomi']['hiragana'];
                    Katakana_Table.innerHTML = result['kanji']['onyomi']['katakana'];
                    Romaji.innerHTML = result['kanji']['kunyomi']['romaji'];
                    Stroke_Order.src = result['kanji']['video']['mp4'];
                    Stroke_Order.onended = function() {
                        Stroke_Order.play();
                    }
                    var data = result['examples']
                    for (var index in data) {
                        var ExampleJapaneseH3 = document.createElement('h3');
                        ExampleJapaneseH3.innerHTML = data[index]['japanese']
                        Japanese.appendChild(ExampleJapaneseH3);

                        var ExamplemeaningH3 = document.createElement('h3');
                        ExamplemeaningH3.innerHTML = data[index]['meaning']['english']
                        ExamplemeaningH3.style.paddingBottom = ".45rem"
                        ExMeaning.appendChild(ExamplemeaningH3);
                    }
                },
                error: function(xhr, status, error) {
                    errormsg.innerHTML = "The Kanji you have inputed is not recognised."
                }
            });
        }
        var char = "{{Kanji}}";
        var nest = char.toString().charAt(char.length - 1);
        SearchData.value = nest;
        SearchSubmit.click();
    </script>
</div>
{% endblock %}