{% extends "layout.html" %} {% block content %}
<div>
    <div class="Pannel">
        <h2>Settings</h2>
    </div>
    <div class="Pannel" id="Pannel" style="height: 32rem;">
        <div style="text-align: center;">
            <h3 style="position:sticky;">Status: </h3>
            <br>
            <h3 style="color: red;padding: 0%;margin: 0%;" id="Status">Not Signed in</h3>
            <br><br>
            <button style="width: 8rem;font-size: 100%;" onclick="document.location = '/Account/Logout'"><b>Log Out</b></button>
            <script>
                var Status = document.getElementById("Status");
                var name = String("{{name}}");
                if (name != null) {
                    Status.style.color = "#00ff00";
                    Status.innerHTML = "Signed In";
                } else {
                    Status.style.color = "red";
                    Status.innerHTML = "Not Signed In";
                    Status.style.cursor = "pointer"
                    Status.onclick = function() {
                        document.location = '/Account/SignUp';
                    }
                }
            </script>
        </div>
        <br><br>
        <form method="post">
            <div style="user-select: none;">
                <label style="position: absolute; left: 30%;" id="ColorLabel" for="Color">Background Color</label>
                <input type="color" name="Color" id="Color" style="position: absolute;left: 48.5%;">
                <button type="button" style="width: 5rem;position:absolute; left: 60%;" class="SettingsButton" id="ColorReset">Reset</button>
                <br><br><br>
                <button type="submit" id="Save" style="position: absolute;width: 5rem;font-size: 100%;left: 48%;"><b>Save</b></button>
                <br><br>
                <h3 style="position: absolute; width: 100%;left: -1%" id="Msg">More Coming Soon</h3>
            </div>
        </form>
        <script>
            var ColorReset = document.getElementById("ColorReset")
            var body = document.getElementById("body");
            var Color = document.getElementById("Color");
            Color.onchange = function() {
                body.style.backgroundColor = Color.value;
            }
            ColorReset.onclick = function() {
                Color.value = "#663399"
                body.style.backgroundColor = "rebeccapurple";
            }
        </script>
    </div>
</div>
{% endblock %}