{% extends "layout.html" %} {% block content %}
<div>
    <div class="Pannel">
        <h2>Settings</h2>
        <br>
        <h3>Welcome Back {{name}}</h3>
    </div>
    <div class="Pannel" id="Pannel" style="height: 32rem;">
        <div style="text-align: center;">
            <h3 style="position:sticky;">Status: </h3>
            <h3 style="color: red;padding: 0%;margin: 0%;" id="Status">Not Signed in</h3>
            <br>
            <button style="width: 8rem;font-size: 100%;" onclick="document.location = '/Account/Logout'"><b>Log Out</b></button>
            <script>
                var Status = document.getElementById("Status");
                var name = String("{{name}}");
                if (name != null) {
                    Status.style.color = "#00ff00";
                    Status.innerHTML = "Signed In";
                } else {
                    Status.style.color = "red";
                    Status.innerHTML = "Not Signed In";
                    Status.style.cursor = "pointer"
                    Status.onclick = function() {
                        document.location = '/Account/SignUp';
                    }
                }
            </script>
        </div>
        <br><br>
        <form method="post">
            <div style="user-select: none;text-align: center;">
                <label id="ColorLabel" for="Color">Button & Background Color</label>
                <br><br>
                <input type="color" name="Color" id="Color">
                <br><br>
                <button type="button" style="width: 5rem;" class="SettingsButton" id="ColorReset">Reset</button>
            </div>
            <br>
            <button type="submit" id="Save" style="width: 5rem;font-size: 100%;"><b>Save</b></button>
            <h3 style="width: 100%;" id="Msg ">More Coming Soon</h3>
        </form>
        <style id="style">

        </style>
        <script>
            var style = document.getElementById("style")
            var ColorReset = document.getElementById("ColorReset")
            var body = document.getElementById("body");
            var Color = document.getElementById("Color");
            Color.onchange = function() {
                body.style.backgroundColor = Color.value;
                style.innerHTML = "button:hover{background:" + Color.value + "}" + "\n" + ".Active{background:" + Color.value + "}"
            }
            ColorReset.onclick = function() {
                Color.value = "#663399"
                body.style.backgroundColor = "rebeccapurple";
                style.innerHTML = "button:hover{background:rebeccapurple}" + "\n" + ".Active{background:rebeccapurple}"
            }
        </script>
    </div>
</div>
{% endblock %}