{% extends "layout.html" %} {% block content %}
<div>
    <div class="Pannel">
        <h2>Settings</h2>
    </div>
    <div class="Pannel" id="Pannel" style="height: 32rem;">
        <div style="text-align: center;">
            <script>
                //<h3 style="position:sticky;">Status: </h3>
                //<br>
                //<h3 style="color: red; cursor: pointer;padding: 0%;margin: 0%;" id="Status" onclick="document.location = '/Account/SignUp'">Not Signed in</h3>
                //<br>
            </script>
            <br><br>
            <button style="width: 8rem;font-size: 100%;" onclick="document.location = '/Account/Logout'"><b>Log Out</b></button>
            <script>
                document.onload = function() {
                    var name = "{{name}}";
                    console.log("{{name}}")
                    var Status = document.getElementById("Status");
                    if (name == null) {
                        Status.style.color = "red";
                    } else {
                        Status.style.Color = "green"
                    }
                }
            </script>
        </div>
        <br>
        <form method="post">
            <div style="user-select: none;">
                <label style="position: absolute; left: 30%;" for="Color">Background Color</label>
                <input type="color" name="Color" id="Color" style="position: absolute;left: 48.5%;">
                <button type="button" style="width: 5rem;position:absolute; left: 60%;" class="SettingsButton" id="ColorReset">Reset</button>
                <br><br>
                <button type="submit" style="position: sticky;width: 5rem;font-size: 100%"><b>Save</b></button>
            </div>
        </form>
        <script>
            // not signed in color = red
            // signed in color #00ff00
            var ColorReset = document.getElementById("ColorReset")
            var body = document.getElementById("body");
            var Color = document.getElementById("Color");
            Color.onchange = function() {
                body.style.backgroundColor = Color.value;
            }
            ColorReset.onclick = function() {
                Color.value = "#663399"
                body.style.backgroundColor = "rebeccapurple";
            }
        </script>
    </div>
</div>
{% endblock %}