{% extends "layout.html" %} {% block content %}
<div style="box-shadow: black 0px 10px 10px;" class="pb-2 bg-white rounded-2xl ml-10 mr-10 mt-5 mt-5 text-center">
    <h1 style="font-size:2rem;">Index</h1>
    <h1 style="font-size:1.5rem;">Pages:{{PageAmount}}</h1>
    <br>
    <br>
    <div>
        <ol id="Main">

        </ol>
    </div>
    <script>
        var Main = document.getElementById("Main");
        var pages = '{{pages | tojson}}'
        pages = JSON.parse(pages)
        for (var index in pages) {
            var li = document.createElement("li");
            var button = document.createElement("button");
            button.className = "hover:bg-gray-800 hover:text-white text-3xl rounded-lg p-2 mb-2"
            var value = pages[index].substring(1, pages[index].length)
            button.innerHTML = value
            button.onclick = function() {
                document.location = "/" + this.innerHTML
            }
            li.appendChild(button)
            Main.appendChild(li)
        }
    </script>
</div>
{% endblock %}