<!doctype html>
<html lang="en" style="font-weight:900;" class="bg-gray-800">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <title>NIHONGO.NET</title>
</head>
<style>
    .AlphabetMenu {
        text-align: center;
        position: absolute;
        width: 145px;
        height: 210px;
        opacity: 100%;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: black 2px 14px 10px .1px;
    }
    
    .AlphabetMenuAnimplay {
        animation-name: AlphabetMenuAnim;
        animation-duration: 500ms;
        animation-play-state: running;
    }
    
    .AlphabetMenu button {
        margin-top: 10px;
        width: 90%;
    }
    
    @keyframes AlphabetMenuAnim {
        100% {}
        50% {
            color: transparent;
        }
        0% {
            height: 0px;
            color: transparent;
        }
    }
</style>

<body style="font-family: monospace;">
    <div>
        <div id="MenuDiv" style="box-shadow: black 0px 10px 10px;" class="pb-2 bg-white rounded-2xl ml-10 mr-10 mt-5 text-center">
            <h2 style="font-size: 2rem;text-transform: uppercase;">Nihongo.net</h2>
            <div className='p-1.5' style="display: grid; grid-template-columns: 10fr 10fr 10fr 10fr;">
                <div className='m-3'>
                    <a id="homebtn" style="cursor: pointer; font-size: 1.5rem;" onclick="document.location='/'" class="  hover:bg-gray-800 hover:text-white text-3xl rounded-lg p-2 mb-2">Home</a>
                </div>
                <div className='m-3'>
                    <a id="Alphabetbtn" style="cursor: pointer; font-size: 1.5rem;" class=" hover:bg-gray-800 hover:text-white text-3xl rounded-lg p-2 mb-2">Alphabet</a>
                </div>
                <div className='m-3'>
                    <a id="lessonsbtn" style="cursor: pointer; font-size: 1.5rem;" class=" hover:bg-gray-800 hover:text-white text-3xl rounded-lg p-2 mb-2">lessons</a>
                </div>
                <div className='m-3'>
                    <a id="lessonsbtn" style="cursor: pointer; font-size: 1.5rem;" onclick="document.location = '/Index'" class=" hover:bg-gray-800 hover:text-white text-3xl rounded-lg p-2 mb-2">Index</a>
                </div>
            </div>
        </div>
        <div hidden id='Menu' class="AlphabetMenu bg-white">
            <ul class="keep">
                <li class="keep"><button id="Button1" style="cursor: pointer; font-size: 1.5rem;" class="hover:bg-gray-800 hover:text-white text-3xl rounded-lg p-2 mb-2">Hiragana</button></li>
                <li class="keep"><button id="Button2" style="cursor: pointer; font-size: 1.5rem;" class="hover:bg-gray-800 hover:text-white text-3xl rounded-lg p-2 mb-2">Katakana</button></li>
                <li class="keep"><button id="Button3" style="cursor: pointer; font-size: 1.5rem;" class="hover:bg-gray-800 hover:text-white text-3xl rounded-lg p-2 mb-2">Kanji</button></li>
            </ul>
        </div>
    </div>
    <script>
        var anim = false
        $(document).ready(function() {
            $(document).mousemove(function(e) {
                var element = e.target.className
                var innerHTML = e.target.innerHTML
                var elembtn = document.getElementById(e.target.id)
                var Menu = document.getElementById("Menu")
                var Button1 = document.getElementById("Button1")
                var Button2 = document.getElementById("Button2")
                var Button3 = document.getElementById("Button3")
                if (innerHTML == "Home") {
                    Menu.hidden = true
                    Menu.classList.remove('AlphabetMenuAnimplay')
                }
                if (innerHTML == "Alphabet") {
                    Button1.innerHTML = "Hiragana"
                    Button2.innerHTML = "Katakana"
                    Button3.innerHTML = "Kanji"
                    Menu.style.left = $('#' + elembtn.id).position().left - 5 + 'px'
                    Menu.hidden = false
                    Menu.classList.add('AlphabetMenuAnimplay')
                }
                if (innerHTML == "lessons") {
                    Button1.innerHTML = "Beginner"
                    Button2.innerHTML = "adept"
                    Button3.innerHTML = "Veteran"
                    Menu.style.left = $('#' + elembtn.id).position().left - 12 + 'px'
                    Menu.hidden = false
                    Menu.classList.add('AlphabetMenuAnimplay')
                }
                if (element == "bg-gray-800") {
                    Menu.hidden = true
                    Menu.classList.remove('AlphabetMenuAnimplay')
                }
                if (element == "") {
                    Menu.hidden = true
                    Menu.classList.remove('AlphabetMenuAnimplay')
                }
                Button1.onclick = function() {
                    if (Button1.innerHTML == "Beginner") {
                        document.location = "/beginnerOverview"
                    }
                    if (Button1.innerHTML == "Hiragana") {
                        document.location = "/Hiragana"
                    }
                }
            })
        })
    </script>
    <div style="text-align: center;">
        {% block content %} {% endblock %}
    </div>
</body>

</html>